@{
    ViewData["Title"] = "Speaker admin";
}
<div class="container">
    <div class="column">
        <div class="row">
            <a href="/Home/GetResult" class="getButton btn btn-block">List of speakers</a>
        </div>
        <div class="row">
            <a href="/Home/PostRequest" class="postButton btn btn-block">Create new speaker</a>
        </div>
    </div>
</div>