@model UIConferensPlanner.Models.Speaker

@{
    ViewData["Title"] = "Register speaker";
}
<div class="bakgrund container bg-light">
    <div class="column">
        <div class="row">
            <a href="Home/PostRequest" class="postButton btn btn-block disabled">Register speaker</a>
        </div>

        @using (Html.BeginForm("PostResult", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="PostResult">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Bio" class="control-label"></label>
                            <input asp-for="Bio" class="form-control" />
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WebSite" class="control-label"></label>
                            <input asp-for="WebSite" class="form-control" />
                            <span asp-validation-for="WebSite" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register" class="executePostRequestButton btn" />
                        </div>
                        <div class="form-group">
                            <a href="Index" class="btn btn-secondary">Main menu</a>
                            <a href="GetResult" class="executeGetRequestButton btn">List of speakers</a>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}