/*color scheme:
    #D5F3FE
    #66D3FA
    #3C99DC
    #2565AE
    #0F5298
*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.navbar {
    background-color: #2565AE;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link{
    color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #D5F3FE;
    
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Home/Index*/
.file-upload-wrapper, .header-wrapper {
    display: flex;
    justify-content:space-evenly;
}

.input-image-area, .input-file-area {
    background-color: white;
    height: 300px;
    width: 300px;
    border-color: #2565AE;
    border-style: solid;
}